# Gradle files
mobile/.gradle/
mobile/android/app/build/

# Android Studio / IDE files
.idea/
*.iml
.cxx/
captures/
mobile/*.iml

# Local configuration
mobile/local.properties

# Keystore files
mobile/*.jks
mobile/*.keystore
mobile/*.p12
mobile/key.properties

# Generated/Build files
mobile/dist/
mobile/web-build/
mobile/.expo/

# Log files
*.log
mobile/*.log

# Node & Dependencies
node_modules/
mobile/node_modules/
.npmrc
mobile/.npmrc

# macOS
.DS_Store

# local env files
.env*.local
.env.local
mobile/.env*.local
mobile/.env.local

# Exclude other project folders (Monorepo)
admin/
backend/
flutter/
Dockerfile
.dockerignore

